/* About Css */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.about p,
span,
h2,
h5 {
  font-family: "Raleway", sans-serif;
}
.about {
  background-color: #f3f3f3;
  padding: 0 0 70px 0;
}
.about h2 {
  color: black;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}
.about-title {
  display: flex;
  justify-content: center;
}
.about-title span {
  width: 25px;
  height: 25px;
  position: relative;
}
.about-title span::before {
  content: "";
  display: block;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 60px;
  height: 3px;
  background: black;
}
/* .about-title span::after {
  content: "";
  display: block;
  top: 50%;
  right: -103px;
  transform: translate(-50%, -125%);
  position: absolute;
  width: 60px;
  height: 2px;
  background: black;
} */
.about-hexs-inner {
  display: flex;
  justify-content: space-evenly;
  padding: 100px 0 0 0;
  flex-direction: row;
}
.hex {
  margin-top: 30px;
  width: 104px;
  height: 60px;
  background-color: #5594ff;
  border-color: #5594ff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hex:before {
  content: " ";
  width: 0;
  height: 0;
  border-bottom: 30px solid;
  border-color: inherit;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  position: absolute;
  top: -30px;
}
.hex:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -30px;
  border-top: 30px solid;
  border-color: inherit;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}
.hex-box {
  display: grid;
  width: 275px;
}
.hex-box > .hex {
  margin: 0 auto;
}
.hex-box h5 {
  text-align: center;
  padding: 50px 0 0 0;
  color: black;
}
.hex-box p {
  color: black;
  text-align: center;
}
.about-me {
  display: flex;
  justify-content: space-evenly;
  padding: 60px 0 0 0;
}
.about-me-info,
.about-me-stacks {
  width: 45%;
}
.about-me-info h5,
p,
.about-me-stacks h5,
p {
  color: black;
  text-align: center;
}
.about-me-info h5,
.about-me-stacks h5 {
  font-size: 30px !important;
}
.about-me-info p {
  margin: 1.5rem 0;
}
.about-me-stacks-inner {
  display: flex;
  justify-content: space-evenly;
  margin: 2.5rem 0;
}
.about-me-stack {
  height: 70px;
  width: 70px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.about-me-stack img {
  width: 40px;
  height: 40px;
}
@media only screen and (max-width: 950px) {
  .about-hexs-inner {
    flex-direction: column !important;
    align-items: center;
    gap: 2rem;
  }
  .hex:before {
    border-bottom: 31px solid #5594ff;
  }
  .hex:after {
    border-top: 31px solid #5594ff;
  }
  .about-me {
    flex-direction: column !important;
  }
  .about-me-info,
  .about-me-stacks {
    width: 100%;
  }
  .about-me-stack {
    width: 60px;
    height: 60px;
  }
  .about-me-stack img {
    width: 35px;
    height: 35px;
  }
}
